body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.yellow-box {
    width: 100%;
    height: 800px;
    background: #FED700;
}
.header {
    display: flex;
}
.black-text {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Varela Round', sans-serif;
font-size: 28px;
line-height: 33px;
}