* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

.hits {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
}

.hits-nav-text {
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Varela Round", sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: #1a1a1a;
}

.hits-nav {
  display: flex;
  justify-content: space-between;
}

.box-with-arrows {
  padding-top: 32px;
}

.right-arrow {
  padding-left: 10px;
}

.price-before-sale {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-decoration-line: line-through;
  color: #1a1a1a;
}

.sale-procent {
  width: 48px;
  height: 26px;
  background: #f44336;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
  padding-left: 4px;
}

.price-after-sale {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #f44336;
}

.quantity {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #7b8e98;
}

.product-text {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
}

.yellow-button {
  background: #fed700;
  border-radius: 55px;
  width: 115px;
  height: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 600;
  border: 1px solid #fed700;
}

.price-after-sale-stock-price {
  color: black;
}

.sale-procent-new-item {
  width: 82px;
  height: 24px;
  background: #03a9f4;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  padding-left: 7px;
  padding-top: 1px;
}

.block-with-hits-content {
  display: flex;
  justify-content: space-between;
}

.oil-img {
  padding-top: 50px;
  padding-bottom: 30px;
}

.product-text-oil {
  padding-bottom: 25px;
}

.product-text-dog-cake {
  padding-bottom: 25px;
}

.dog-food {
  padding-bottom: 20px;
}

.product-text-dog-food {
  padding-bottom: 10px;
}

.price-after-sale-stock-price-fourth-item {
  padding-top: 35px;
}

.header {
  width: 100%;
  min-height: 100px;
  background: #fed700;
}

.header-title {
  font-family: "Nunito" sans-serif;
  font-size: 25px;
  line-height: 33px;
  padding-top: 8px;
}

.img-in-header {
  width: 50px;
  height: 50px;
  margin-right: 40px;
}

.logo {
  display: flex;
}

.search-row {
  width: 500px;
  height: 50px;
  background: #ffffff;
  border-radius: 24px;
  border: 1px white solid;
  font-family: "Nunito" sans-serif;
  font-size: 16px;
  color: #7b8e98;
  padding-left: 10px;
}

.search {
  position: absolute;
  transform: translateX(50%);
}

.images-in-header {
  width: 20px;
  height: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.icons {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.images-in-header:first-child {
  margin-right: 15px;
}

.images-in-header:last-child {
  margin-left: 15px;
}

.page-content {
  width: 100%;
  min-height: 744px;
}

.content-title {
  font-family: "Nunito" sans-serif;
  font-weight: 800;
  font-size: 48px;
  color: #1a1a1a;
}

.sub-text {
  font-family: "Nunito" sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #1a1a1a;
  margin-top: 20px;
}

.white-btn {
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.02),
    0px 2px 16px rgba(96, 97, 112, 0.16);
  border-radius: 60px;
  width: 157px;
  height: 56px;
  border: 1px white solid;
  font-family: "Nunito" sans-serif;
  font-weight: 800;
  font-size: 17px;
  color: #1a1a1a;
  margin-top: 42px;
}

.arrow-in-white-button {
  padding-left: 10px;
}

.wrapper {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.white-menu-box {
  width: 990px;
  height: 142px;
  position: relative;
  transform: translateY(-35%);
  background: #ffffff;
  box-shadow: 0px 2px 4px black;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 30px;
}

.white-menu-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.menu-img {
  width: 40px;
  height: 45px;
}

.menu-img-text {
  font-family: "Nunito" sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #1a1a1a;
}

.main-section {
  width: 100%;
  min-height: 775px;
  background: #fed700;
}

.orange-gift-wrapper {
  max-width: 1000px;
  width: 100%;
  background: #ff8f27;
  height: 260px;
  margin: 0 auto;
  border-radius: 20px;
}

.orange-box-title {
  font-family: "Nunito" sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 50px;
  color: #ffffff;
}

.orange-box-sub-text {
  font-family: "Nunito" sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 62px;
  color: #ffffff;
}

.orange-gift-box {
  display: flex;
  justify-content: space-evenly;
}

.orange-img-wrapper {
  padding-top: 14px;
}

.orange-text-wrapper {
  padding-top: 50px;
  padding-left: 60px;
}

.price-before-sale-first-item {
  padding-top: 42px;
}

.yellow-button-first-item {
  margin-top: 20px;
}

.yellow-button-second-item {
  margin-top: 18px;
}

.price-before-sale-third-item {
  padding-top: 40px;
}

.yellow-button-third-item {
  margin-top: 17px;
}

.yellow-button-fourth-item {
  margin-top: 15px;
}

.box-with-add {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.left-orange-box {
  width: 488px;
  height: 220px;
  background: #d8a217;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.right-blue-box {
  width: 488px;
  height: 220px;
  border-radius: 20px;
  background: #24b5be;
  display: flex;
  position: relative;
  overflow: hidden;
}

.product-text-goodies {
  padding-top: 10px;
}

.left-orange-box-title {
  font-family: "Nunito" sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 90%;
  color: #ffffff;
}

.left-orange-box-sub-text {
  font-family: "Nunito" sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.right-blue-box-title {
  font-family: "Nunito" sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 90%;
  color: #ffffff;
}

.right-blue-box-sub-text {
  font-family: "Nunito" sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.left-orange-box-price {
  font-family: "Nunito" sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}

.left-orange-box-text-wrapper {
  padding-left: 40px;
  padding-top: 30px;
}

.hits-nav-goodies-nav {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.goodies-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.yellow-button-third-toy-img {
  background: #fed700;
  border-radius: 55px;
  width: 115px;
  height: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 800;
  border: 1px solid #fed700;
  margin-top: 40px;
}

.price-after-sale-goodies {
  color: black;
  padding-top: 35px;
  padding-bottom: 10px;
}

.product-text-goodies-last-item {
  padding-bottom: 20px;
}

.hits-nav-toys-nav {
  padding-top: 50px;
}

.product-text-third-toy-img {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  padding-top: 11px;
}

.right-box-text-wrapper {
  margin-left: 40px;
  margin-top: 40px;
}

.right-blue-box-img {
  position: absolute;
  right: 0;
}

.price-before-sale-third-toy {
  margin-top: -6px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-decoration-line: line-through;
  color: #1a1a1a;
}

.yellow-button-first-item-last-toy {
  margin-top: 0px;
}

.quantity-third-toy {
  padding-top: 8px;
}

.box-with-second-add {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.left-green-box {
  width: 488px;
  height: 220px;
  background: #9ccd55;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.right-orange-box {
  width: 488px;
  height: 220px;
  background: #db6825;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.box-with-second-add {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.left-green-box-title {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  line-height: 90%;
  color: #ffffff;
}

.left-green-box-subtext {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.left-green-img-wrapper {
  padding-top: 20px;
}

.left-green-text-wrapper {
  padding-top: 50px;
  padding-left: 34px;
}

.left-green-box-subtext {
  padding-top: 15px;
}

.right-orange-box-title {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 90%;
  color: #ffffff;
}

.right-orange-box-subtext {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.right-orange-box-img {
  position: absolute;
  right: 0;
}

.right-orange-text-wrapper {
  padding-top: 48px;
  padding-left: 42px;
}

.sale-offer-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

.sale-offer-text {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #1a1a1a;
  padding-top: 16px;
}

.sale-offer-box {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.news-box {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;
}

.news-wrapper {
  display: flex;
  justify-content: space-between;
}
.date-text {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #7b8e98;
}

.row-with-date {
  display: flex;
  padding-top: 18px;
}

.calendar-img {
  width: 10px;
  height: 8px;
  border-radius: 3px;
  border: 1px grey solid;
  margin-top: 4px;
  margin-right: 8px;
}

.news-text {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #1a1a1a;
  padding-top: 10px;
}

.reviews-box {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

.reveiwes-title {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
}

.white-button {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #1a1a1a;
  width: 120px;
  height: 40px;
  border: 1px solid #cfd8dc;
  box-sizing: border-box;
  border-radius: 87px;
  display: flex;
  padding-top: 10px;
  padding-left: 25px;
  margin-top: 13px;
}

.top-part-of-review {
  display: flex;
  justify-content: space-between;
}

.left-review-box {
  width: 500px;
}

.reviews-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.orange-gift-wrapper-second-part {
  margin-top: 50px;
}

.review-bottom-title {
  font-family: "Nunito", sans-serif;
  padding-top: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #1a1a1a;
}

.bottom-part-title-wrapper {
  display: flex;
}

.date-text-second {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #7b8e98;
  padding-top: 37px;
  padding-left: 10px;
}

.main-text {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1a1a1a;
}

.main-part-last-row {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #1a1a1a;
  padding-top: 10px;
}

.place-text {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #7b8e98;
  padding-top: 10px;
  padding-bottom: 12px;
}
